# -------------------
# Java
# -------------------
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.iws
*.ipr
*.hprof

# Compiled class file
**/target/
**/build/
**/out/

# Package Files #
*.7z
*.dmg
*.gz
*.iso
*.jar/*
*.rar
*.tar
*.zip

# -------------------
# NetBeans
# -------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# NetBeans - ignore generated project metadata
**/nb-configuration.xml

# -------------------
# IntelliJ IDEA
# -------------------
.idea/*
*.iml/*
*.iws/*
out/

# IntelliJ-specific project settings
.idea_modules/

# -------------------
# OS-specific
# -------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS resource fork files
__MACOSX/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~
.cache/
.config/
.local/
lost+found/

# -------------------
# Maven / Gradle
# -------------------
.mvn/
.gradle/
**/target/*
**/build/*
!gradle/wrapper/gradle-wrapper.jar

# -------------------
# Logs
# -------------------
*.log/*

# -------------------
# Others
# -------------------
*.swp
*.swo
*.bak
*.tmp
*.orig
